@import url("header_airplan_footer.css");


.homeTop{
    background-image: url(../img/home/home_header.png);
    background-position:bottom center;
    min-height: 563px;

}
 /*----標語、專業課程---*/

.lesson{
    /* outline: 3px rgb(0, 0, 0) solid; */
    width:100%;
    max-width: 1200px;
    background-image: url(../img/home/background_lesson.png);
    background-position:bottom right;
    margin: 50px auto;

 }


.lesson>p{
    
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 8px;
    text-align: center;
    padding-top: 100px;
 }


.lesson h3{

    margin-top: 96px;
    margin-bottom: 64px;
    text-align: center;
    font-size: 28px;
    font-weight:bold;

}


.lesson ul{
    /* border: 3px rgb(255, 0, 0) solid; */
    display: flex;
    justify-content: space-between;
    height: 420px;
    width: 100%;
    max-width: 1200px;
    gap:2em;

}


.lesson li{
    background-position: bottom;
    background-repeat: no-repeat;
    /* border: 3px rgb(68, 0, 255) solid; */
    height: 420px;
    flex-basis: 0;
    flex-grow: 1;

    border-radius: 50px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
  
    padding: 40px;
    
    

}

.lesson li:first-child{
    background-image: url(../img/home/background_elementary1.png);
    background-color: #FFD954;
    
    }


.lesson li:nth-child(2){
    background-image: url(../img/home/background_junior1.png);
    background-color: #17AA6C;

}

.lesson li:last-child{
    background-image: url(../img/home/background_high1.png);
    background-color: #257EC7;

}

.lessonTop{
    display: flex;
    /* outline: 1px solid white; */
    height: 50%;
    width: 100%;
    justify-content: space-between;
}


.lesson li h4{
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    line-height: 1.2;

    /* outline: 3px rgb(203, 49, 121) solid; */
    width: 30px;
   
  
}

.lesson li:first-child h4{
    color:rgb(52, 51, 51); 
}


.lesson li p{
    

    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1.3;

    width: 175px;
    height: 70px;

    align-self: center;

 


    /* outline: 3px rgb(203, 49, 121) solid; */


    box-sizing: border-box;


}

.lesson li:first-child p{
    color:rgb(52, 51, 51); 
}


.lesson li a{
    align-self: flex-end; 
    margin-top: auto;    


    /* outline: 1px white solid; */
}


.lesson  img{


    display: block;
    width: 36px;
    height: 36px;
    text-align: right;
    /* outline: 3px rgb(203, 49, 121) solid; */

    
}


/*-------榮譽榜單------*/

.honorRoll{
    /* outline: black 1px solid; */
    background-image: url(../img/home/background_honor_roll1.png);
    background-repeat: no-repeat;

    height: 946px;
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 3em;
    
}

.honor{/*兩區榮譽榜 區塊名稱共用*/
    /* border: rgb(195, 255, 0) 1px solid; */
    margin-left: 100px;
    margin-top: 140px;
    width: 100%;
    max-width: 600px;

}

.honor:last-child{

    margin-top: 0;
    

}




.honor h4{
    font-size: 2em;
    font-weight:bold;
    /* border: rgb(60, 255, 0) 1px solid; */
    text-align: center;
    margin-bottom: 48px;
    

}


.honorContext{/*包住圖片+p的div*/
    /* outline: #666 1px solid; */
    display: flex;
    /* justify-content: space-between; */
    gap: 1.5em;


}

.honorPic{ /*包住ICONㄉidv*/

}

.honorPic img{
    /* border: 1px rgb(255, 149, 0) solid; */



}


/*------------ 輪播區 -------------*/




.sliderBoard{   /* div */
    /* outline: 5px solid #e11111; */


    width: 100%;
    min-width: 350px;

    height: 120px;
    

    
	overflow: hidden;
}
.content{       /* ul */
    position: relative;
    display: flex;

    /* outline: 1px solid #5132cf; */

}

.content li{    /* li */
    
    /* outline: 1px solid #3b11e1; */
    width: 100%;
    flex-shrink: 0;
    height: 75%;
    



}

/* circle button */
.contentButton{
    /* background-color:rgb(255, 170, 0); */
    text-align: center;

    width: 100%;
    height:20%;
    margin-top:5px;

}

.contentButton li{
    width: 8px;
    height:8px;


    
    border-radius: 50%;
    background-color: #ccc;
    margin:  0.3em 0.3em 0;

    display: inline-block;
    
    
    
}


.contentButton li.clicked{
    background-color: #666;
}







.content p{
    line-height: 1.5;
    font-size: 16px;
    color:rgb(52, 52, 51);
    margin-bottom: 8px;

    /* border: 1px rgb(5, 103, 5) solid; */

    
}




.honorTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap:1em; */
    color: #D26E49;
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 100px;

    /* outline: blue solid 1px; */

}

.honorTitle img{
    display: block;
    margin-left: auto;
    margin-right: 50px;
}


.honorTitle h3{
    font-size: 2em;
    font-weight: bold;
    background-color: #fff;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 25px;

}


.honorTitle p{
    font-size: 16px;
    margin-top: 20px;
    /* padding-left: 10px; */
   
}


/*------環境介紹-------*/

.environment{
    background-image: url(../img/home/background_environment.png);
    height: 874px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;   
}


.environmentContent{/*--左邊文字區塊--*/
    /* outline: red 3px solid; */
    width: 30%;
    max-width: 355px;
    height: 357px;
    text-align: center;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    margin-left: 10px;





}


.environmentDesk{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.environmentDesk img{


}


.environmentDesk h3{
    /* outline: black 3px solid; */
    height: 101px;
    line-height: 101px;
    font-size: 2em;
    font-weight: bold;
    

}



.environmentContent h3 img{
    outline: black 3px solid;
    display: none;
    




}


.environmentContent>img{

}

.environmentContent p{
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 30px;
    width: 100%;
    max-width: 320px;

}


.environmentContent a{
    text-decoration: none;
    color: #D26E49;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    letter-spacing: 32x;
}


.environmentContent a:hover{
    background-color: #D26E49;
    color: white;
    outline: 3px solid white;
    text-decoration:underline;
}



.environmentPic{/*右邊的照片區塊*/
    background-image: url(../img/home/background_class.png);
    background-position: center;
    width: 55%;
    max-width: 757px;
    height: 571px;
    border-radius: 50px;

    /* outline: rgb(65, 229, 90) 3px solid; */
    

    display: flex;
    flex-direction: column;


}


.environmentText{
    /* margin-left: 30px; */
    display: flex;
    flex-direction: column;
    /* outline:  1px red solid; */

    margin-top:auto;

   

}


.environmentText h4{
    width: 30%;
    height: 28px;
    background-color: #FFE9CA;
    background-size: cover;
    font-size: 26px;
    line-height: 28px;
    font-weight: bold;
    padding:15px 60px;

    border-radius: 0 30px 0 0;
    
   

}


.environmentText p{
    background-color: white;
    line-height: 30px;
    height: 60px;
    width: 70%;
    font-size: 16px;

    /* outline: 1px blue solid; */

    padding:10px 60px;
    border-radius: 0 30px 0 50px;

    


}



.map{
    /* border: 1px red solid; */

    background-image: url(../img/home/background_map.png);
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    margin:0 auto;

}

iframe{
    width: 100%;
    height: 400px;  
    padding-top: 50px;
}
