@import url("header_airplan_footer.css");
/*主視覺圖*/
.teacherTop{
    background-image: url(../img/home/teacher_header.png);
    /* background-size: cover;   */
    background-position:bottom center; 
    min-height: 563px;
}

.wrapper{
    /* outline: 1px black solid; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 2px rgb(17, 15, 15) solid; */
    padding: 96px 0;


    /* min-height: 1496px; */
}

main{
    background-image: url("../img/home/backgroun_feedback.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: 0 auto;

}
html,
body { 
    overflow-x: hidden;
    max-width: 100vw;
}	



/*-------------最新消息---------------*/
section:nth-child(2){

}




section>h3{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


.newsDiv{/*包最新消息的綠底div*/
    /* outline: rgb(191, 255, 0) 2px solid; */
    background-image: url(../img/home/background_news.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    margin: 48px auto 96px;
    height: 330px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    box-sizing: border-box;
    
}

.news{/*單一消息的div*/
/* outline: 1px red solid; */


    background-color: #fff;

    width: 45%;
    max-width: 550px;

    height: 196px;
    border-radius: 70px;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;


    transition: 0.8s;
    overflow: hidden;
    

}

.news:hover{
    /* transform: scale(1.02); */
}

/*圖釘動*/
.news:hover .newsContent img:hover{
    /* transform: scale(1.05) translate(30px, -10px); */
}

.news img{

    display: block;
    max-width: 100%;
    height: auto;
}

.newsContent{/*右邊文字的div*/
    /* outline: 2px red solid; */
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
    width: 55%;
    height: 100%;
    
    position: relative;

}

.newsContent img{
    /* outline: 1px rgb(0, 0, 0) solid; */
    max-width: 30px;
    height: auto;
    transition: 0.5s;
    
    position: absolute;
    top: 5px;
    right: 3%;


}


.newsContent h4{
    font-size: 18px;
    font-weight: bold;
    


}


.newsContent p{
    width:100%;
    max-width: 230px;
    font-size: 16px;
    line-height: 22px;
    /* outline: 2px rgb(240, 240, 240) solid; */

    

}


.newsContent a{
    text-decoration: none;
    display: block;
    color: white;
    background-color: #17AA6C;
    border-radius: 20px;
    border: 2px solid transparent;
    text-align: center;
    font-size: 14px;
    width: 52px;
    height: 36px;
    line-height: 36px;
    letter-spacing: 1px;

    position: absolute;
    right: 3%;
    bottom: 0px;

}


.newsContent a:hover{
    background-color: white;
    border: 2px solid #17AA6C;
    color: #17AA6C;


}





/*-------------學生回饋---------------*/
section:nth-child(3){
    /* outline: 2px rgb(2, 4, 2) solid; */


}


.feedback{/*ul*/
    /* outline: 5px green solid; */
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    

}


.feedback li{
    background-color: white;
    border: 2px solid #17AA6C;
    
    border-radius: 120px 120px 20px 20px;
    width: auto;
    max-width: 368px;
    height:auto;
    padding: 12px;
    box-sizing: border-box;

    margin:50px 0;
    transition: 0.8s;

}

.feedback li:hover{
    /* transform: scale(1.05); */
}



.feedback li>img{/*學生照片*/
    display: block;
    margin: 0 auto;

}



.feedbackContent{/*--包住下方資訊的div--*/
    /* outline: red 2px solid; */
    padding: 16px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 16px;
    width: 90%;
    max-width: 330px;

}


.feedbackTop{/*icon及學生年級姓名的div*/
    /* outline: rgb(166, 255, 0) 2px solid; */

    display: flex;
    align-items: center;
    gap: 12px;

}


.feedbackTop img{/*icon*/

}

.feedbackTop h4{/*年級姓名*/

    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 2px;
}



.feedbackBottom{/*包住下方回饋內容的div*/
    /* outline: blue 2px solid; */

}


.feedbackBottom p{

    font-size: 16px;
    letter-spacing: 2px;
    line-height: 30px;
}










