@import url("header_airplan_footer.css");
/*主視覺圖*/
.teacherTop{
    background-image: url(../img/home/teacher_header.png);
    /* background-size: cover;   */
    background-position:bottom center; 
    min-height: 563px;
}